<html>
	<head>
		 <script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<h1>Exam</h1>
		id hotel:
		<input id="idHotel"/>
		<br/>
		id chambre :
		<input id="idChambre"/>
		<br/>

		<button onclick="reserver()">Reserver</button>
		<button onclick="afficher()">Afficher Chambres</button>
		<br/>

		<div id="hotel-container">

		</div>

		<div id="reserve-container">

		</div>
	



		 <script>

		 			// get userName by js prompt 

					var userName = prompt("Please enter your name");

					const socket = io.connect();
		
				 	function reserver() {
						const idHotel = document.getElementById("idHotel").value;
						const idChambre = document.getElementById("idChambre").value;
		
						console.log("idHotel ",idHotel);	
						console.log("idChambre ",idChambre);	
						console.log("userName ",userName);	
				 		socket.emit("add-reservation", {idHotel: idHotel, idChambre: idChambre, userName: userName});
				 	}
		
				 	function afficher() {
						console.log("afficher");
						const idHotel = document.getElementById("idHotel").value;
						console.log("idHotel ",idHotel);	
				 		socket.emit("display-chambre", {idHotel: idHotel});
				 	}
		
					socket.on("chambre-displayed", (data) => {
					    console.log("chambre-displayed");
					    const container = document.getElementById("hotel-container");
					
					    const span1 = document.createElement("span");
					    span1.innerText = `${JSON.stringify(data)}`;
					   
					    const br = document.createElement("br");
					
					    container.append(span1);
						container.append(br);
					})
		
					socket.on("reservation-added", (data) => {
						const container = document.getElementById("reserve-container");
						const p = document.createElement("p");
						p.innerText = "nom: " + data.nom + " joueur1: " + data.joueur_1 + " joueur2: " + data.joueur_2;
						container.append(p);
					})
		
				 </script>
	</body>

</html>
